<div class="flex-box">
    <div class="row ">

      <div class="col-6 d-flex justify-content-md-center w" >
        <div id="card-profil" class="shadow p-3 mb-5 bg-white rounded">
          <br><br>
          <%= cl_image_tag current_user.photo,width: 300, height: 300, crop: :fill %><br><br><br>
          <% if current_user.owner %>
            <p><strong>Propriétaire</strong> de <%= Instrument.where(user_id: current_user).length %> <%= link_to "instruments", owner_instruments_path %></p>
          <% end %>
          <p><%= Booking.where(user_id: current_user).length %> <%= link_to "réservations", owner_bookings_path,  class: "btn btn-edit" %> en cours </p>
          <p><strong>Pseudo</strong> : <%= current_user.username %></p>
          <p><strong>Adresse</strong> : <%= current_user.address %></p>
        </div>
      </div>

        <div class="col-6" >
          <h2>Edit <%= resource_name.to_s.humanize %></h2>


          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= f.error_notification %>


          <div class="form-inputs">
                  <%= f.input :email, required: true, autofocus: true %>
                  <%= f.input :address, required: true, autofocus: true %>

                  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                    <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
                  <% end %>
                  <%= f.input :photo %>
                  <%= f.input :photo_cache, as: :hidden %>
                  <%= f.input :password,
                              hint: "leave it blank if you don't want to change it",
                              required: false,
                              input_html: { autocomplete: "new-password" } %>
                  <%= f.input :password_confirmation,
                              required: false,
                              input_html: { autocomplete: "new-password" } %>
                  <%= f.input :current_password,
                              hint: "we need your current password to confirm your changes",
                              required: true,
                              input_html: { autocomplete: "current-password" } %>
          </div>

            <div class="form-actions">
              <%= f.button :submit, "Update", class: "btn btn-success" %>
            </div>
          <% end %>
        </div>
    </div>
      <div row>
        <div class="edit-cancel text-right">
          <h3>Cancel my account</h3>
            <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
        </div>
      </div>

      <%= link_to "Back", :back, class: "btn btn-success" %>
</div>
