

  <div class="container">
    <form id="formhome">
    <marquee direction="up" scrollamount="2" height="200" width="350"><h2>Vous souhaitez louer :</h2></marquee>


    <%= simple_form_for :query, url: instruments_path, method: "GET" do |f| %>
    <%= f.input :category, collection: ["vents", "cordes", "percussions"] %>
    <%= f.input :description %>
    <%= f.submit :submit, :label => "submit", class: "btn btn-success" %>
    <% end %>
    <%= @instruments %>
  </div>
