<h2><%= @instrument.description %></h2>
  <%= @instrument.description %>
  <%= @instrument.category %>
  <% if !current_user.nil? %>
    <%= link_to "Edit", edit_owner_instrument_path(@instrument), class: 'btn btn-secondary' %>
    <%= link_to "Delete",  owner_instrument_path(@instrument), method: :delete, class: 'btn btn-secondary' %>
  <% end %>
  <%= link_to "Rent", instrument_path(@instrument) %>
  <%= link_to "go back to instrument", instruments_path  %>

