<div class='text-center'> <h1>Présentation de l'instrument.</h1> </div>
<h2><%= @instrument.description %></h2>
  <%= @instrument.category %>
  <br>
  <% if !current_user.nil? %>
    <%= link_to  edit_owner_instrument_path(@instrument), class: 'btn btn-secondary' do %>
      <i class="fa fa-edit fa-lg"></i>
    <% end %>
    <%= link_to owner_instrument_path(@instrument), method: :delete, class: 'btn btn-secondary' do %>
      <i class="fa fa-trash fa-lg"></i>
    <% end %>
  <% end %>
  <%= link_to "Louer", instrument_path(@instrument), class: 'btn btn-secondary' %>
  <%= link_to "Retour", owner_instruments_path, class: 'btn btn-secondary'  %>

