<div class="container">
  <div class="row" >
    <% @instruments.each do |instrument| %>
      <div class="col-4">
        <div class="card-trip">
          <img <%= cl_image_tag instrument.photo, height: 300, width: 400, crop: :fill %>
            <div class="card-trip-infos">
              <div>
                <%= link_to instrument.description, instrument_path(instrument), class: 'btn btn-secondary' %>
                <p><%= instrument.category %></p>
              </div>
              <h2 class="card-trip-pricing"><%= instrument.unit_price %></h2>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>


<div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>
