<h2><%= @instrument.description %></h2>
  <%= @instrument.description %>
  <%= @instrument.category %>
  <%= link_to "Rent", new_instrument_booking_path(@instrument) %>
  <%= link_to "go back to instrument", instruments_path  %>

