<h2><%= @instrument.description %></h2>
  <%= @instrument.description %>
  <%= @instrument.category %>
  <%= link_to "Edit", edit_instrument_path(@instrument), class: 'btn btn-secondary' %>
  <%= link_to "Delete", instrument_path(@instrument), method: :delete, class: 'btn btn-secondary' %>
  <%= link_to "Rent", instrument_path(@instrument) %>
  <%= link_to "go back to instrument", instruments_path  %>

