<h2><%= @instrument.description %></h2>
  <%= cl_image_tag @instrument.photo, height: 300, width: 400, crop: :fill %>
  <p> Catégorie : <%= @instrument.category %></p>
  <br>
  <%= link_to "Louer", new_instrument_booking_path(@instrument), class: 'btn btn-secondary' %>
  <%= link_to "Retour", root_path, class: 'btn btn-secondary'  %>
